/* base */

@import "./fonts.css";
@import "suitcss-base";
@import "./typo-sm.css";

/* Components */



@import "suitcss-components-grid";
@import "suitcss-components-flex-embed";
@import "suitcss-components-button";


/* utils */

@import "suitcss-utils-flex";
@import "suitcss-utils-size";
@import "./utils-size-xl.css";
@import "suitcss-utils-text";
@import "gravitons";

:root {
  --border-color: rgba(#26392f, 0.1);
  --heading-font: sofia;
  --primary-color: #9dce5c;
  --primary-dark: #056839;
  --primary-white: #fafff4;
  --secondary-color: #8cc63f;
  --secondary-dark: #001c0f;
  --secondary-white: #f1ffdf;
  --tertiary-color: #42a659;
}

:root {
  --bg-color: var(--primary-white);
}

@custom-media --sm-viewport (max-width:640px);
@custom-media --md-viewport (min-width:641px);
@custom-media --lg-viewport (min-width:960px);
@custom-media --xl-viewport (min-width:1280px);


img {
  height: auto;
  max-width: 100%;
}

.ProductThumb {
  background-color: transparent;
  border-bottom: 1px solid var(--border-color);
  transition: background 250ms ease;
}

.ProductThumb:hover {
  background-color: var(--secondary-color);
  transition: background 250ms ease;
}

.ProductThumb img {
  max-height: 256px;
}

@media (--md-viewport) {
  .ProductThumb {
    border-bottom: none;
    border-right: 1px solid var(--border-color);
  }

  .Grid-cell:last-child .ProductThumb {
    border-right: none;
  }
}

.Container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

html {
  background-color: var(--primary-white);
  font-family: bariol;
  font-weight: 400;
}
