@import "./fonts.css";
@import "suitcss-base";
@import "suitcss-components-flex-embed";
@import "suitcss-components-grid";
@import "gravitons";
@import "suitcss-utils-size";
@import "suitcss-utils-flex";

@custom-media --sm-viewport (min-width:320px) and (max-width:640px);
@custom-media --md-viewport (min-width:640px) and (max-width:960px);
@custom-media --lg-viewport (min-width:960px);

html {
  background-color: #fafff4;
  font-family: MuseoSans;
}

body {
  color: rgba(#21392e, 0.875);
  font-size: 0.875rem;
  line-height: 1.3;
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(#4e2e28, 0.875);
  font-family: MuseoSansR;
  font-weight: 700;
}

/*
 green500 = #4CAF50,
 brownChoco = #4E2E28
 yellow=#FFEB3B
 grey: #EEEEEE
 black=#222
 white: #fafafa
*/

.u-heightFull {
  height: 100%;
}

.bg-blue {
  background-color: blue;
}
.bg-red {
  background-color: red;
}
.bg-green {
  background-color: green;
}
.bg-yellow {
  background-color: yellow;
}
.bg-grey {
  background-color: grey;
}

article p {
  margin-bottom: 1.3em;
}

.Card {
  background-color: #fafff4;
  margin: auto;
  width: calc(100% - 16px);
}

.logo-sm {
  width: 50%;
}

.forcePushY1 {
  transform: translateY(-1.5rem);
}
