:root {
  --heading-font: "Arial Rounded MT Bold", sofia;
}

body {
  line-height: 1.3125rem;
  margin: 0 auto;
}

h1 {
  font-family: var(--heading-font);
  font-size: 4.25rem;
  font-style: inherit;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1rem;
  margin-top: 1.3125rem;
}

h2,
.beta {
  font-family: var(--heading-font);
  font-size: 2.625rem;
  font-style: inherit;
  font-weight: 600;
  line-height: 2.625rem;
  margin-bottom: 1.3125rem;
  margin-top: 1.3125rem;
}

h3,
.gamma {
  font-family: var(--heading-font);
  font-size: 1.625rem;
  font-style: inherit;
  font-weight: 600;
  line-height: 1.625rem;
  margin-bottom: 1rem;
  margin-top: 1.3125rem;
}

h4 {
  font-family: var(--heading-font);
  font-size: 1rem;
  font-style: inherit;
  font-weight: 600;
  line-height: 1.3125rem;
  margin-bottom: 0;
  margin-top: 1.3125rem;
}

h5 {
  font-family: var(--heading-font);
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3125rem;
  margin-bottom: 0;
  margin-top: 1.3125rem;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-bottom: 1.3125rem;
  margin-top: 0;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
  margin-top: 0;
}

hr {
  border: 1px solid var(--border-color);
  margin: -1px 0;
}

b,
strong,
em,
small,
code {
  line-height: 1;
}

sup {
  line-height: 0;
  position: relative;
  top: -0.5em;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

a {
  color: #268ed9;
}


.lead {
  font-size: 1.625rem;
  line-height: 2rem;
  margin-bottom: 1.1328125rem;
  margin-top: 1.3125rem;
}
