extends partial/default.jade
block content
  .Grid
    .Grid-cell
      .FlexEmbed
        .FlexEmbed-ratio.FlexEmbed-ratio--4by3
        .FlexEmbed-content
          .u-flex.u-flexJustifyCenter.u-flexAlignItemsCenter.u-heightFull.bg-yellow
            h1 F.A.Q.S
    .Grid-cell
      .Card.forcePushY1
        article.p2
          ul
            li
              h3 Does your coconut sugar certified organic?
              p Yes, we are certified USDA and EU by Control Union.
            li
              h3 Do you arrange OEM/ private label ? 
              p Yes, we offer private labeling.
            li 
              h3 How do you pack ? 
              p Our packaging are:
              ul 
                li Transparent Can 10 Oz/ 283g, 1 box= 40 cans. 
                li Standing Pouch 1Lb/454g, I box= 30 Pouch. 
                li Bulk in paper sack/25 kgs.
            li
              h3 What is the MOQ ? 
              p The MOQ for: 
              ul 
                li Bulk packaging is 1 pallet =1,000kgs. 
                li Pouch 1 lb/454g is 1 pallet= 572 kgs 
                li Can 10 Oz/283g is 1 pallet= 475.5 kgs
            li 
              h3 What is the lead time ? 
              p The leadtime is 3-6 weeks after receiving the advance payment, depending our schedule of the current order.
            li 
              h3 Could you provide samples ? 
              p Yes we could provide samples free of charge, the courier cost is on yours . If you have shipping/ courier customer account, sample delivery will be arranged for a collect service.
            li
              h3 How are the payment terms ?
              p We accept Telegraphic Transfer or LC. 
              ul
                li For smaller orders, three pallets and below, 100% advance full payment. 
                li For orders three pallets and above, 50% advance payment, balance paid 5 working days prior to shipment or delivery. 
                li Preferred method of payment is Wire Transfer.

          
