extends partial/default.jade
block content
  section
    .Container.pt3.pb3
      p.lead Our product is organic coconut sugar , Organic coconut syrup and organic coconut block :
  .Grid.Grid--equalHeight
    .Grid-cell.u-lg-size1of3
      .u-flex.u-lg-flexJustifyEnd.u-lg-flexCol.p2
        .u-size1of4.u-lg-sizeFull
          img(src="assets/productcan-xs.png", alt="")
        .u-size3of4.u-lg-sizeFull
          .Container.u-textCenter
            h4 Transparent Can
    .Grid-cell.u-lg-size1of3
      .u-flex.u-lg-flexJustifyEnd.u-lg-flexCol.p2
        .u-size1of4.u-lg-sizeFull
          img(src="assets/productpouch-xs.png", alt="")
        .u-size3of4.u-lg-sizeFull
          .Container.u-textCenter
            h4 Standing Pouch
    .Grid-cell.u-lg-size1of3
      .u-flex.u-lg-flexJustifyEnd.u-lg-flexCol.p2
        .u-size1of4.u-lg-sizeFull
          img(src="assets/productsack-xs.png", alt="")
        .u-size3of4.u-lg-sizeFull
          .Container.u-textCenter
            h4 Paper sack
                

        
