extends partial/default.jade
block content
  .Grid
    .Grid-cell
      .FlexEmbed
        .FlexEmbed-ratio
        .FlexEmbed-content.bg-blue
          p Why Should Organic coconut sugar
    .Grid-cell.u-size1of2
      .FlexEmbed
        .FlexEmbed-ratio
        .FlexEmbed-content.bg-red
          p Our Product
    .Grid-cell.u-size1of2
      .FlexEmbed
        .FlexEmbed-ratio
        .FlexEmbed-content.bg-yellow
          p Our Services
    .Grid-cell
      .FlexEmbed
        .FlexEmbed-ratio.FlexEmbed-ratio--2by1
        .FlexEmbed-content.bg-green
          p Shop
    .Grid-cell.u-size1of2
      .FlexEmbed
        .FlexEmbed-ratio
        .FlexEmbed-content.bg-red
          p Exports
    .Grid-cell.u-size1of2
      .FlexEmbed
        .FlexEmbed-ratio
        .FlexEmbed-content.bg-grey
          p About Us
          
