extends partial/default.jade
block content
  section.Hero
    .Hero-img.imgFill
      img.imgFillSrc(src="assets/cocosugar.jpg", alt="")
    .Hero-content
      .div
        h1 CocoGreenFarms
        p Coco sugar derived from the coconut palm tree and is touted as being more nutritious and lower on the glycemic index than sugar.
      .Hero-shortcut
        a.Hero-shortcutLink(href="/")
          .div
            span.icon.icon-white.icon-large &#xf143;
            h4 Why coconut sugar?
          
        a.Hero-shortcutLink(href="/")
          .div
            span.icon.icon-white.icon-large &#xf2a8;
            h4 Product
          
        a.Hero-shortcutLink(href="/")
          .div
            span.icon.icon-white.icon-large &#xf214;
            h4 Exports
        a.Hero-shortcutLink(href="/")
          .div
            span.icon.icon-white.icon-large &#xf3f8;
            h4 Shop
          
