extends partial/default.jade
block content
  section
    .Grid
      .Grid-cell
        .Product-list
          .Grid.Grid--withGutter
            .Grid-cell.u-size1of4
                img(src="assets/mock1.jpg", alt="")
            .Grid-cell.u-size3of4
                .u-textCenter
                  h4 coconut sugar 1
          
