extends partial/default.jade
block content
  article
    .Hero.u-heightFull.u-lg-height3of4
      .Hero-img.imgFill
        img.imgFillSrc(src="assets/pohon3.jpg", alt="")
      .Hero-content.u-textCenter
        .Container
          h1.u-fancyText Why should organic Coconut sugar?
    .BlogPost
      header.BlogPost-header
      .BlogPost-content
        section.Container
          p It is natural made from coconut sap, which is the sugary circulating fluid of the coconut plant.
          p
            | Coconut sugar (also called coconut palm sugar ) has become a popular alternative to white sugar due to its flavor and perceived health benefits. It&#8217;s also viewed as being unrefined ,much more natural, or less highly processed, than table sugar.
          p
            | It is natural made from coconut sap, which is the sugary circulating fluid of the coconut plant.
          p Coconut sugar is made in 2 natural steps process :
          ol
            li
              | a cut is made on the flower bud of the coconut palm and the liquid sap called neera is collected in to the containers, twice a day by the farmers.
            li
              | The neera then is placed under heat until most of the water has evaporated. As the water evaporates, it starts to transform in to the thick syrup-like substance. From this form it is further reduced to crystal.
          p
            | During the process, from the liquid sap till granulated coconut sugar, there is no other ingredient or chemical added at all. Hence everything is natural and unrefined.
        
        section.Container.mt4
          hr
          h2 Benefits of organic Coconut sugar
          .Media
            .Media-img.mt3.c2
              img(src="assets/grafik.svg", alt="")
            .Media-content.c10
              h3 Low Glycemic Impact
              p
                | Organic coconut sugar has only 35 on the Glycemic Index, it means one of the lowest Glycemic index for sweetener.
              p
                | Glycemic Index(GI) is a measure of how a food raises blood glucose (or blood sugar) compared to a reference food (usually glucose or white bread). Our coconut sugar absorbs slowly into the bloodstream, instead of the sugar high and crash like cane sugar, while providing sustained energy for our body.
              
          .Media
            .Media-img.mt3.c2
              img(src="assets/cangkir.svg", alt="")
            .Media-content.c10
              h3 Taste and flavor.
              p
                | Organic Coconut sugar is more flavorful, it has a pleasant caramel-like flavor, the taste is great. It works well for baking , it is delightful in brownies, cookies, cakes and could be made as perfect topping for waffle, oatmeal and ice cream.
              p For beverages, it dissolves in hot coffee, tea and also in cold liquids.
              
          .Media
            .Media-img.mt3.c2
              img(src="assets/love.svg", alt="")
            .Media-content.c10
              h3 Nutrition Content
              p
                | Organic coconut sugar is nutritional super food, it contains amino acids, potassium, magnesium, zinc, iron and B and C vitamins, antioxidants that may also provide some health benefits.
              p
                | Then it contains a fiber called Inulin, which may slow glucose absorption and explain why coconut sugar has a lower glycemic index than regular table sugar.
              
          .Media
            .Media-img.mt3.c2
              img(src="assets/pot.svg", alt="")
            .Media-content.c10
              h3 GMO Free and Organic
              p Our Organic coconut GMO free.
              p
                | GMO is Genetic modification, also known as &#8220;genetic engineering,&#8221; is a technologically advanced way to select desirable traits in crops. While selective breeding has existed for thousands of years, modern biotechnology is more efficient and effective because seed developers are able to directly modify the genome of the crop.
              
          .Media
            .Media-img.mt3.c2
              img(src="assets/tangan.svg", alt="")
            .Media-content.c10
              h3 Earth Friendly conservation
              p Coconut palm sugar is the most sustainable sweetener in the world.
              p
                | The Food and Agriculture Organization (FAO) of the World Bank reports that coconut palm sweeteners are the single most sustainable sweetener in the world!
              p
                | The reason is because coconut palms are a tree crop which benefits the environment ecologically as they restore damaged soil requiring very little water in the process. In addition, coconut palms produce more sugar per acre than sugar cane (50&#8211;75% more) while at the same time using less than 20% of the soil nutrients and water for that high level of production (sap continues to flow for the next 2 decades).
              
          .Media
            .Media-img.mt3.c2
              img(src="assets/nokimia.svg", alt="")
            .Media-content.c10
              h3 Unrefined.
              p
                | Our coconut sugar is not highly processed like brown sugar and many other sugars are. It is made by evaporating, boil the coconut sap. It is not synthesized like other sugar substitutes, but is harvested naturally from the coconut palm tree. It is from in the sap of the cut flowers bud of the coconut tree and does not have to be highly refined or processed to taste great.
                

        
